# User settings
xcuserdata/

# App bundles and symbols
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store

# Xcode
*.xcworkspace          # workspaces generados (CocoaPods, SPM, etc.)
*.xcodeproj/xcuserdata # datos de usuario del proyecto
*.xcactivitylog        # logs de build
*.xccheckout           # checkouts temporales
*.xcscmblueprint       # metadatos de SCM

# Swift Package Manager
.swiftpm/
Package.resolved
**/.build

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Demo-specific
Pods/
Carthage/Build/
Carthage/Checkouts/

# IDEs & Config
.idea/
.vscode/

# ──────────────
# NOTA: Queremos versionar el .xcframework de Phylax, así que eliminamos la regla que lo ignoraba.
# Si quisieras seguir ignorando otros .xcframework, podrías hacer:
#   *.xcframework/
#   !PhylaxSDK-*.xcframework/
#
# Xcode derived data & build products
DerivedData/
build/

# Logs y temporales
*.log
*.tmp